sections.aboutus
	.aboutus__care
		.aboutus__care-label
		.container.aboutus__care-cntnr
			h2.aboutus__care-txt Мы идеальная забота <br> С доступностью и качеством <br>для каждого
	.container
		article.article
			h1.aboutus__title Вся правда о нас

			.article__part
				h2 О Компании
				p Ideal-M является самой первой дистрибьюторской компанией в Республике Таджикистан, основанной в 1996 году.
				p Благодаря высококвалифицированным сотрудникам, Ideal-M считается одним из ведущих дистрибьюторов в стране.
				p Сфера деятельности Ideal-M – дистрибуция продуктов питания и бытовой химии повседневного спроса (FMCG) от известных мировых производителей.
				p Ideal-M сотрудничает с более 20 зарубежными производителями, кроме того, компания обладает эксклюзивными правами на реализацию их продукции по всему Таджикистану среди них:     
			
			.article__part
				h2 Наши зарубежные партнеры
				include brands-carousel.jade
			
			.article__part
				h2 Принципы
				p В своей деятельности Ideal-M придерживается следующей философии:
				
				ul
					li Запросы клиентов – наивысший приоритет компании!
					li Ориентация на долгосрочное сотрудничество, как с поставщиками, так и с клиентами
					li Надежные и взаимовыгодные отношения с поставщиками и клиентами
					li Гибкая финансовая и ценовая политика
			.article__part
				h2 Сотрудники
				p В компании работают  227 человек, которые нацелены на достижение максимального результата.

				p В Душанбе работают  189 сотрудников, в Турсунзаде 16, в Курган-Тюбе – 11,  Худжанде  -11, которые обеспечивают товарами 70% торговых точек страны. Персонал компании состоит  из молодых и креативно мыслящих сотрудников, а также сотрудников с большим опытом работы в сфере торговли и предпринимательства.

			.article__part
				h2 Мобильная дистрибуция
				ul
					li Работа с оптовыми клиентами осуществляется по системе OSDO (мини-склады на территории оптового сектора).
					li Работа с розничными клиентами осуществляется по системе Pre Selling (предварительная заявка, полученная за день вперёд с доставкой на следующий день).
					li Отдельная команда по HoReCa (отель, ресторан, кафе).
					li Van selling – мобильная торговля с транспортного средства прямо на маршруте.
					li Все заявки принимаются в режиме ON-LINE.

			.article__part
				h2 Развитие

				p Компания Ideal-M идет в ногу со временем.В июне 2013 года компания внедрила программное обеспечение «Моби-С», для упрощения работы отдела продаж. Были приобретены планшетные компьютеры. Ведущая компания WCT(World Computer’s Tekhnologies) с сфере программирования, внедрения и обучения компьютерным технологиям, провела комплекс тренингов по обучению персонала работе с данной программой. 

				p На сегодняшний день программа «Моби-С» способствует:
				ul 
					li оперативному оформлению заказа из торговой точки;
					li координированию маршрута торгового агента в определенном секторе;
					li работе с товарами по акциям. Способы информирования SMS, визуально по КПК, …
					li контролю  и хронометражу работы каждого торгового агента.

				p Для улучшения работы отдела финансового учета и логистики, компания внедрила новую усовершенствованную версию программы  1 С предприятие 8.2. «Управление торговлей» редакция 11. 
		ul.c-gallery
			li.c-gallery__item
				a.c-gallery__link(href="img/aboutus/1.jpg")
					img.c-gallery__img(src="img/aboutus/1.jpg", alt="")
			li.c-gallery__item
				a.c-gallery__link(href="img/aboutus/2.jpg")
					img.c-gallery__img(src="img/aboutus/2.jpg", alt="")
			li.c-gallery__item
				a.c-gallery__link(href="img/aboutus/3.jpg")
					img.c-gallery__img(src="img/aboutus/3.jpg", alt="")
			li.c-gallery__item
				a.c-gallery__link(href="img/aboutus/4.jpg")
					img.c-gallery__img(src="img/aboutus/4.jpg", alt="")

section.future
	.container
		h2.future__title Планы на будущее
		ul.future__list
			li.future__item Увеличение обслуживаемых торговых точек по стране.
			li.future__item Открытие дополнительных представительств в регионах страны.
			li.future__item Модернизация внедрённых КПК для каждого структурного подразделения отдела продаж и смежных отделов.
			li.future__item Разработка и внедрение ценовой архитектуры, стимулирующей торговые точки и нацеленной на обеспечение стабильных торговых условий.
			li.future__item Внедрение  эффективной  мотивационной  системы  сотрудников отдела продаж.
			li.future__item Оптимизация организационной структуры отдела продаж.
			li.future__item Увеличение охвата рынка.

section.important
	.container
		h2.important__title Планы на будущее

		p.important__text Многолетнее эффективное развитие компании Ideal-M - это  результат грамотного взаимодействия с международными партнерами и потребителями на территории Таджикистана.
		p.important__text Самое важное для нас – обеспечить наших соотечественников продукцией высокого стандарта качества и по доступной цене.
		p.important__text Ideal-M открыт для диалога и готов рассматривать нестандартные условия  работы с клиентами с учетом требований и спроса на рынке. 
		p.important__text Мы всегда готовы поддержать партнерские программы, выгодные схемы развития продаж, используя при этом эффективную маркетинговую  политику.

include ../common/brands.jade