section.allbrands
	.container
		h2.brands__title Наши бренды
	.container
		ul.allbrands__list
			- for (var i = 1; i < 19; i++)
				li.allbrands__item
					.allbrands__border
					a.allbrands__link(href="http://ideal-m.tj")
						img.allbrands__img(src="img/allbrands/" + i + ".jpg", alt="")
						span.allbrands__txt ffhdfh