section.products
	.container
		h1.products__title Каталог продукции
	.container
		.row.products__row
			.products__catfilter 
				i.fa.fa-search.products__catfiltericon
				| Поиск по категориям
			.col-md-4.col-sm-5.products__catwrapper
				ul.products__catlist
					li.products__catitem.products__catitem--tobrands
						a.products__catlink(href="")
							img.products__catimg(src="img/categories/9.png", alt="")
							span.products__cattext Поиск по брендам
					li.products__catitem.products__catitem--active
						a.products__catlink(href="")
							img.products__catimg(src="img/categories/1.png", alt="")
							span.products__cattext Консервы
					li.products__catitem
						a.products__catlink(href="")
							img.products__catimg(src="img/categories/2.png", alt="")
							span.products__cattext  Чай
					li.products__catitem
						a.products__catlink(href="")
							img.products__catimg(src="img/categories/3.png", alt="")
							span.products__cattext  Соусы / приправы
					li.products__catitem
						a.products__catlink(href="")
							img.products__catimg(src="img/categories/4.png", alt="")
							span.products__cattext  Бытовая химия
					li.products__catitem
						a.products__catlink(href="")
							img.products__catimg(src="img/categories/5.png", alt="")
							span.products__cattext  Бакалея
					li.products__catitem
						a.products__catlink(href="")
							img.products__catimg(src="img/categories/6.png", alt="")
							span.products__cattext  Молочные продукты
					li.products__catitem
						a.products__catlink(href="")
							img.products__catimg(src="img/categories/7.png", alt="")
							span.products__cattext  Кондитерские изделия
					li.products__catitem
						a.products__catlink(href="")
							img.products__catimg(src="img/categories/8.png", alt="")
							span.products__cattext  Еда быстрого приготовления
			.col-md-8.col-sm-7.products__grouplist
				- var list = {1:"Консервы", 2:"Чай", 3:"Соусы / приправы", 4:"Бытовая химия", 5:"Бакалея", 6:"Молочные продукты", 7:"Кондитерские изделия", 8:"Еда быстрого приготовления"}
				.row.products__groupitem
					.products__grouptitle
					.products__groupcontent
						- for (var i=1; i<=8; i++)
							.col-md-3.col-sm-6.col-xs-6
								.products__item
									i.products__addtocart
									.products__item-first
										- if (i%2 > 0) 
											a(href="img/products/1.jpg").products__link
												img.products__img(src="img/products/1.jpg", alt="")
										- else
											a(href="img/products/2.jpg").products__link
												img.products__img(src="img/products/2.jpg", alt="")
									.products__item-last
										.products__details
											h3.products__name Махеев <br> Кетчуп Чили
											span.products__weight 500 г.
											span.products__pack Тетрапак
											span.products__price 02-381