sections.partners
	.container
		h3.partners__title Информация партнерам
	.container
		.partners__col-full
			p.simple-text Компания Ideal-M обслуживает более, чем 4500 торговых точек на территории Таджикистана.
			p.simple-text Деятельность компании охватывает 3 региона и более 30 районов Республики Таджикистан. Представительства Ideal-M имеют собственную инфраструктуру, развитую сеть филиалов и сотрудничают с партнёрами  в крупнейших городах страны: Худжанде, 
			p.simple-text Хороге, Турсун-заде, Курган-тюбе, Вахдате, Гиссаре и Яване.
			p.simple-text Компания Ideal-M обслуживает  72 супермаркета в Душанбе и 35 супермаркетов по регионам страны.
	.partners__infographics
		img(src="img/partners.jpg", alt="информация партнерам").partners__infographics-img
	.container
		.row
			.partners__col-half
				h3.partners__title Автопарк
				p.simple-text Компания располагает собственным автопарком, состоящим из более 70 грузовых автомашин, в том числе и оборудованные системой поддержки температуры и охлаждением, позволяющих в кратчайшие сроки доставить груз в любую точку республики.
				img.partners__col-img(src="img/partners/2.jpg", alt="")
			.partners__col-half
				h3.partners__title Персонал
				p.simple-text В компании работают  227 человек, которые нацелены на достижение максимального результата.
				p.simple-text В Душанбе работают  189 сотрудников, в Турсунзаде 16, в Курган-Тюбе – 11,  Худжанде  -11, которые обеспечивают товарами 70% торговых точек страны.
				p.simple-text Персонал компании состоит  из молодых и креативно мыслящих сотрудников, а также сотрудников с большим опытом работы в сфере торговли и предпринимательства.
				img.partners__col-img(src="img/partners/3.jpg", alt="")
		.row
			.partners__col-full
				h3.partners__title Склады
				h4.partners__subtitle Многопрофильные склады

				p.simple-text Компания  имеет собственную промышленную базу общей площадью 5 Га (12,5 акров), на которой построено 3 многопрофильных склада, отвечающих Мировым стандартам и оснащенных высокотехнологичным.   Вместимость  каждого  склада  составляет   более 3  000 тонн продукции. 

				h4.partners__subtitle Минусовые камеры

				p.simple-text Одним из преимуществ склада-холодильника, является наличие 6  камер для хранения различной продукции  требующей охлаждения. Склад оборудованный сендвич- панелями, построен специалистами Турецкой компании по мировым стандартам  и оснащен стеллажами,  автокарами и системой холодоснабжения итальянского  и немецкого производства с автоматическим контролем температурного режима.

				h4.partners__subtitle Многопрофильные склады

				p.simple-text Центральный распределительный склад с температурным режимом Positively оснащен сэндвич-панелями Турецкого производства, оборудован системой  кондиционирования воздуха Итальянского производства  до t-ры +  5+10 град.  

				p.simple-text Склад для хранения продуктов питания оснащен стеллажами методом штабелирования. 

				p.simple-text Cклад  для хранения сухих продуктов и товаров бытовой химии оснащен стеллажами  и разделен для хранения  специфических  товаров.
				.partners__col-inner
					img.partners__col-img(src="img/partners/4.jpg", alt="")
				.partners__col-inner
					img.partners__col-img(src="img/partners/5.jpg", alt="")
		.row
			.partners__col-full
				h3.partners__title Доверие
				p.simple-text Ежегодно компания Ideal-M приглашает в качестве независимых экспертов  ведущие иностранные аудиторские компании. Аудит последних лет осуществляли компании «Baker Tilly» Bishkek и «AITEN consulting group». 
				.partners__col-inner
					img.partners__col-img(src="img/partners/6.jpg", alt="")
				.partners__col-inner
					img.partners__col-img(src="img/partners/7.jpg", alt="")
		.row
			.partners__col-full
				h3.partners__title Маркетинг и реклама
				p.simple-text Маркетинговая политика компании нацелена  на тщательное и глубокое  исследование рынка,  на регулярное выявление  потребностей рынка, анализ  и мониторинг продаж, при этом  выделяя креативные методы в организации рекламной компании, а также BTL, ATL  компаний. 
				p.simple-text Рекламные агентства и СМИ с которыми мы активно сотрудничаем:
				ul.partners__list
					- for (var x = 8; x < 16; x++)
						li.partners__item
							a.partners__link(href="")
								img.partners__logo(src="img/partners/" + x + ".jpg", alt="")
	.container
		ul.partners__gallery
			- for (var x = 16; x < 31; x++)
				li.partners__gallery-item
					a.partners__gallery-link(href="img/partners/" + x + ".jpg")
						img.partners__gallery-img(src="img/partners/" + x + ".jpg", alt="")
