section.contacts
	.container
		.row
			.contacts__col-1
				.contacts__phone
					.contacts__ib
						i.contacts__picon
					.contacts__ib
						span.contacts__phone-t Вы можете связаться с нами по телефону
						a(href="tel:99244 6250077").contacts__phone-n +992 44 625 0077
			.contacts__col-2
				.contacts__address
					.contacts__ib
						i.contacts__licon
					.contacts__ib
						span.contacts__address-t Приехать к нам в офис по адресу:
						span.contacts__address-s Ул. им. Титова дом 30/2, кв 32