section.contacts
	.container
		.row
			.contacts__col
				i.location__icon.location__icon--phone
				.location__descr
					span.location__descr--small Свяжитесь по телефону:
					span.location__descr--big +992 44 625 0077
			.contacts__col
				i.location__icon.location__icon--envelope
				.location__descr 
					span.location__descr--small Напишите на электронную почту:
					span.location__descr--big info@ideal-m.tj
			.contacts__col
				i.location__icon.location__icon--map
				.location__descr 
					span.location__descr--small Приезжайте в офис:
					span.location__descr--big пос. Нижний Лучоб