.brands__wrapper
	ul.brands__list
		- for (i = 1; i < 12; i++)
			li.brands__item
				a(href="#" title="...").brands__link
					span.brands__name= "..."
					img(src="img/corporate/" + i + ".jpg", alt= "").brands__img