footer.footer
	.company
		.container
			a(href="#" title='ideal-m').company__link
						img(src="../img/logo.png", alt="ideal-m").company__logo
						span.company__name ideal-m
			.row
				.company__col-1
					.company__about О нас
					.company__text Управление во всех каналах сбыта на территории
				.company__col-2
					h3.company__newstitle Новости
					ul.company__newslist
						each item in [1, 2, 3]
							li.company__newsitem
								a(href="#" title="news").company__newslink
									span.company__newstext Новые бренды
									span.company__newsdate 12.01.2017
				.company__col-3
					h3.company__contactstitle Контакты
					p Выходной: Суббота, Воскресенье
						| Время рабоы: 8:00 до 17:00
						| г. Душанбе
						| ул. М. Турсунзаде, 45/1
						| Тел: +992 44 625 0077
						| E-mail: info@ideal-m.tj


	.copiright
		.container
			.copiright__studio Сделано в Asad Technologies
			.copiright__metonem #metonem

// bower:js 
// endbower 

script(src="bower_components/jquery/dist/jquery.js")
script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js")
script(src="js/main.js")