block pageName
.firstbtncnvs.firstbtncnvs--none
header.header
	.container
		.row
			.header__col-1
				h1.logo
					a(href="index.html" title="ideal-m")
						img(src="img/logo.png", alt="ideal-m")
					span.logo__text ideal-m
			.header__col-2
				nav.nav
					a.nav__navicon#navicon(href="#")
					ul.nav__list
						each item in [{title:'каталог', pageName:'ctalogue'}, {title:'услуги', pageName:'services'}, {title:'партнерам', pageName:'partners'}, {title:'бренды', pageName:'brands'},{title:'о нас', pageName:'aboutus'},{title:'контакты', pageName:'contacts'}]

							- if (item.pageName == pageName)
								li.nav__item.nav__item--current
									a(href=item.pageName + ".html").nav__link= item.title
							- else 
								li.nav__item
									a(href=item.pageName + ".html").nav__link= item.title
			.header__col-3
				.socials
					ul.socials__list
							li.socials__item
								a(href="").socials__link
									i.socials__facebook
							li.socials__item
								a(href="").socials__link
									i.socials__instagram
							li.socials__item
								a(href="").socials__link
									i.socials__phone