.firstbtncnvs.firstbtncnvs--none
header.header
	.container
		.row
			.header__col-1
				h1.logo
					a(href="index.html" title="ideal-m")
						img(src="../img/logo.png", alt="ideal-m")
					span.logo__text ideal-m
			.header__col-2
				nav.nav
					ul.nav__list
						each val in ['каталог', 'услуги', 'партнеры', 'бренды', 'о нас', 'контакты']
							li.nav__item
								a(href="").nav__link= val
			.header__col-3
				.socials
					ul.socials__list
							li.socials__item
								a(href="").socials__link
									i.socials__facebook
							li.socials__item
								a(href="").socials__link
									i.socials__instagram
							li.socials__item
								a(href="").socials__link
									i.socials__phone