.slider
	ul.slider__list
		li.slider__item.slider__item--active.slider__parallax-layer
			img.slider__img(src="img/slider/1.jpg", alt="")
			img.slider__person.layer(src="img/slider/person1.png", alt="" data-depth="0.40")
			h2.slider__text У вас крупная гостиница? <br> Мы идеальный партнер!
		li.slider__item.slider__parallax-layer
			img.slider__img(src="img/slider/2.jpg", alt="")
			img.slider__person.layer(src="img/slider/person2.png", alt="" data-depth="0.40")
			h2.slider__text У вас ресторан? <br> давайте сотруднячать!
		li.slider__item.slider__parallax-layer
			img.slider__img(src="img/slider/3.jpg", alt="")
			img.slider__person.layer(src="img/slider/person3.png", alt="" data-depth="0.40")
			h2.slider__text У вас магазин? <br> закупайтесь у нас!
		li.slider__item.slider__parallax-layer
			img.slider__img(src="img/slider/4.jpg", alt="")
			img.slider__person.layer(src="img/slider/person4.png", alt="" data-depth="0.40")
			h2.slider__text Открыли кафе? <br> IDEAL-M надежеый партнер!