block pageName
	- var pageName = 'index'

extends ../layouts/main_layout.jade

block slider
	include ../common/slider.jade

block contacts
	include ../common/contacts.jade
	
block advantages
	include ../common/advantages.jade

block simple
	include ../common/simple.jade

block brands
	include ../common/brands.jade

block catalogue
	include ../common/catalogue.jade

block about
	include ../common/about.jade