$brand-color: #b206c8;
$text-color: #333333;
$vertical-bp: 45px;
$present-btn-height: 45px;

@mixin icon($name, $size: false) {
	@extend .fa;
	@extend .fa-#{$name};
	@if ($size != false) {
		font-size: #{$size}px;
	}
}

@mixin vertical {
	&:after {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: "";
    }
}


@mixin subtitle {
	font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 0;
}
@mixin text(){
	color: #333;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 0;
	&:last-child {
		margin-bottom: 0;
	}
}
@mixin list() {
	margin-bottom: 10px;
	padding-left: 40px;
}

@mixin vertical-bp {
	padding: $vertical-bp 0;
	@media (max-width: 991px) {
		padding: $vertical-bp/2 0;
	}
}
@mixin block-title($color: false) {
	@if ($color == #fff) {
		color: $color;
		&:after {
			background: url(../img/title-white.png) no-repeat;
		}
	}
	@else {
		color: $text-color;
		&:after {
			background: url(../img/title.png) no-repeat;
		}
	}
	padding: 0;
	margin: 0 0 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	&:after {
		content: "";
		display: block;
		height: 4px;
		width: 293px;
		margin: 30px auto 0;
	}
}

@mixin present-btn($color: false) {
	height: $present-btn-height;
	max-width: 250px;
	
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
	line-height: 20px;
	padding: 12.5px 0;
	@include center-block;
	position: absolute;
	bottom: $vertical-bp;
	@media (max-width: 991px) {
		bottom: $vertical-bp/2;
	}
	margin: auto;
	left: 0;
	right: 0;
	
	&:hover, &:focus{
		background:$text-color;
		color: #fff;
		text-decoration: none;
	}

	@if ($color == pink) {
		background: $brand-color;
		color: #fff;
	} @else {
		background: #fff;
		color: $text-color;
	}
}


@mixin present-btn-unfixed($color: false) {
	height: $present-btn-height;
	max-width: 250px;
	
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
	line-height: 20px;
	padding: 12.5px 0;
	@include center-block;
	/* margin-bottom: $vertical-bp;
	@media (max-width: 991px) {
		margin-bottom: $vertical-bp/2;
	} */
	
	&:hover, &:focus{
		background:$text-color;
		color: #fff;
		text-decoration: none;
	}

	@if ($color == pink) {
		background: $brand-color;
		color: #fff;
	} @else {
		background: #fff;
		color: $text-color;
	}
}