@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../bower_components/font-awesome/scss/font-awesome.scss';
@import '../bower_components/roboto-fontface/css/roboto/sass/roboto-fontface.scss';
@import '../bower_components/slippry/dist/slippry.css';
@import '../bower_components/slick-carousel/slick/slick.scss';
/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
 */
@import '_vars.scss';
@import '_sprites.scss';
@import '_jquery.simplyscroll.scss';


body
{
    font-family: 'Roboto', sans-serif;

    color: $text-color;
}
.firstbtncnvs
{
    position: absolute;

    display: block;

    width: 192px;
    height: 98.4px;

    background: url(../img/first.gif) no-repeat;
    background-size: cover;
    &--none
    {
        display: none;
    }
    @media (max-width: 991px)
    {
        z-index: -2;
    }
}


.headhesive {
    position: fixed;
    z-index: 10;
    width: 100%;
    transform: translateY(-100%);
    transition: 0.5s;
    &--stick {
        transform: translateY(0);
        box-shadow: 0 0 10px #999;
        padding: 10px 0 !important;
        //height: 66px !important;
        overflow: hidden;
        min-height: 66px !important;
        opacity: 1;
        .nav__list {
            @media (min-width: 992px) {
                height: 36px;
            }
        }
    }
}
.header
{
    background: #fff;
    overflow: hidden;

    min-height: 137px;

    @media (max-width: 991px)
    {
        min-height: 107.5px;
    }

    @include vertical-bp;
    &__col
    {
        &-1
        {
            @include make-md-column(3);
            @media (max-width: 991px)
            {
                margin-bottom: $vertical-bp/2;
            }
        }
        &-2
        {
            @include make-md-column(7);
            @media (max-width: 991px)
            {
                //margin-bottom: $vertical-bp/2;
                margin-bottom: 0;
                position: static;

            }
        }
        &-3
        {
            @include make-md-column(2);

            /* @media (max-width: 991px) {
                display: none;
            } */
        }
    }
}
.logo
{
    margin: 0;
    padding: 0;
    &__text
    {
        display: none;
    }
    @media (max-width: 991px)
    {
        text-align: center;
    }
}
.nav,
.socials
{
    &__list
    {
        margin: 0;
        padding: 0;
    }
    &__item
    {
        display: inline-block;
    }
}
.nav
{
    overflow: hidden;

    padding: 0 0 10px 0;

    transition: height .45s;
    
    
    &__navicon
    {
        position: absolute;
        z-index: 2;
        top: 40px;
        right: 10%;

        text-decoration: none;

        color: $text-color;

        @include icon(bars)
        &:hover,
        &:focus
        {
            text-decoration: none;
        }
        @media (min-width: 992px)
        {
            display: none;
        }
    }
    &__item
    {
        font-size: 14px;

        padding-bottom: 4px;

        text-transform: uppercase;

        color: #2f2f2f;
    }
    &__link
    {
        color: #2f2f2f;
        &:hover,
        &:focus
        {
            text-decoration: none;
        }
    }
    @media (min-width: 992px)
    {
        &__list
        {
            line-height: 0;

            text-align: justify;
            &:after
            {
                display: inline-block;
                visibility: hidden;
                overflow: hidden;

                width: 100%;
                height: 0;

                content: '';
            }
        }
        &__item
        {
            font-size: 14px;
            line-height: normal;

            display: inline-block;

            padding: 10px 0;

            text-align: left;

            &:after
            {
                display: block;

                width: 0;
                height: 4px;
                margin: 6px auto 0;

                content: '';
                transition: width .45s;

                background: $brand-color;
            }
            &:hover,
            &:focus
            {
                transition: width .45s;
                &:after
                {
                    display: block;

                    width: 100%;
                    height: 4px;

                    content: '';
                    transition: width .45s;

                    background: $brand-color;
                }
            }
            &--current {
                &:after
                {
                    display: block;

                    width: 100%;
                    height: 4px;

                    content: '';
                    transition: width .45s;

                    background: $brand-color;
                }
            }
            &:first-child
            {
                margin-left: 10px;
                padding: 10px;

                transform: skewX(-10deg);

                border-radius: 6px;
                background: $brand-color;
                &:after
                {
                    display: none !important;

                    margin: 0;
                }
                .nav__link
                {
                    display: block;

                    transform: skewX(10deg);

                    color: #fff;
                }
            }
        }
    }
    @media (max-width: 991px)
    {
        padding: 0;
        &__item
        {
            display: block;
            float: left;

            width: 50%;
            padding: 0;

            border-top: 1px solid #fff;
            background:  $brand-color;
            &:nth-child(2n+1)
            {
                border-right: 1px solid #fff;
            }
            &:hover,
            &:focus
            {
                background: #333;
            }
            &:last-child {
                margin-bottom: $vertical-bp/2;

            }
        }
        &__link
        {
            display: block;

            padding: 20px;

            text-align: center;

            color: #fff;
            &:hover,
            &:focus
            {
                color: #fff;
            }
        }
        &__list {
            display: none;
        }
    }
    @media (max-width: 767px)
    {
        &__item
        {
            float: none;

            width: 100%;
            &:nth-child(2n+1)
            {
                border-right: none;
            }
        }
    }
}
.socials
{
    &__list
    {
        @media (max-width: 991px)
        {
            text-align: center;
        }
        @media (min-width: 992px)
        {
            text-align: right;
        }
    }
    &__item
    {
        font-size: 21.96px;

        margin-left: 5px;
        &:first-child
        {
            margin-left: 0;
        }
    }
    &__link
    {
        color: #949494;
    }
    &__facebook
    {
        @include icon(facebook-square);
        &:hover,
        &:focus
        {
            color: #004fbb;
        }
    }
    &__instagram
    {
        @include icon(instagram);
        &:hover,
        &:focus
        {
            color: #8f4a00;
        }
    }
    &__phone
    {
        @include icon(phone-square);
        &:hover,
        &:focus
        {
            color: #08a100;
        }
    }
}

.slider
{
    overflow: hidden;
    width: 100%;
    margin: auto;

    background: $brand-color;
    //max-height: 543px;
    &__controls{
        margin: 0;
        padding: 0;
    }
    &__button {
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;
    }
    &__dots {
        padding: 0;
        margin: 0;
        &-item {
            display: inline-block;
            height: 20px;
            width: 20px;
            background: #fff;
            cursor: pointer;
            &--active {
                background: #000;
            }
        }
    }
    &__list
    {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    &__item
    {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &--active {
            z-index: 1;
            position: relative;
        }
        &--inslide {
            z-index: 2;
        }
    }
    &__img
    {
        width: 100%;
        //max-width: 1300px;
        position: absolute;
    }
    &__person
    {
        position: absolute;
        z-index: 3;
        //right: 5%;
        bottom: 0;

        display: block;

        //height: 80%;
        max-width: 80%;
    }
    &__text
    {
        font-size: 3vw;

        position: absolute;
        z-index: 3;
        bottom: 55px;
        left: 10%;

        margin: 0;
        padding: 0;

        text-transform: uppercase;

        color: #fff;

        text-align: center;

         @media (max-width: 767px) {
            background: rgba(0, 0, 0, 0.5);
            padding: 15px;
            // line-height: 4vw;
            // top: 0;
            // bottom: 0;
            // left: 0;
         }
    }
    &__btn
    {
        @include present-btn;
    }
}

.contacts
{
    overflow: hidden;

    min-height: 140px;

    background: #efefef;

    @include vertical-bp;
    &__col
    {
        &-1,
        &-2
        {
            position: relative;

            @include make-md-column(6);
            @media (min-width: 992px)
            {
                height: 57px;
            }
        }
        &-1
        {
            @media (max-width: 991px)
            {
                margin-bottom: $vertical-bp/2;
            }
        }
    }
    &__phone-t,
    &__phone-n,
    &__address-t,
    &__address-s
    {
        display: block;

        text-align: center;
    }
    &__ib
    {
        display: inline-block;
        &:last-child
        {
            margin-left: 20px;
        }
        &:first-child
        {
            @media (max-width: 767px)
            {
                display: block;
            }
        }
    }
    &__phone
    {
        text-align: center;
        @media (min-width: 992px)
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            height: 57px;
            margin: auto;
        }
    }
    &__address
    {
        text-align: center;
        @media (min-width: 992px)
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            height: 57px;
            margin: auto;
        }
    }
    &__phone-t
    {
        font-size: 14px;
        font-weight: bold;
    }
    &__phone-n
    {
        font-size: 26.97px;
        font-weight: bold;

        color: $text-color;
        &:hover,
        &:focus
        {
            text-decoration: none;

            color: lighten($text-color, 30%);
        }
    }
    &__address-t
    {
        font-size: 14px;
        font-weight: bold;
    }
    &__address-s
    {
        font-size: 15.5px;
    }
    &__picon,
    &__licon
    {
        font-size: 55px;
        line-height: 57px;

        opacity: .3;
        color: #949494;
    }
    &__picon
    {
        @include icon(phone-square);
    }
    &__licon
    {
        @include icon(map-marker);
    }
}

.advantages
{
    overflow: hidden;

    @include vertical-bp;
    &__title
    {
        @include block-title;
    }
    &__list
    {
        margin: 0;
        padding: 0;
    }
    &__item
    {
        list-style-type: none;

        text-align: center;
        &--col {
            @include make-md-column(3);
            @include make-sm-column(3);
        }

        
    }
    &__icon
    {
        display: inline-block;

        width: 54px;
        height: 51px;
        margin-bottom: 34px;
        @media (max-width: 767px)
        {
            margin-bottom: 17px;
        }
        @for $i from 1 through 8
        {
            &--#{$i}
            {
                @include advantages($i);
            }
        }
    }
    &__subtitle
    {
        font-size: 14px;
        font-weight: bold;

        margin: 0 0 20px;
        padding: 0;
    }
    &__
    {
        font-size: 14px;

        margin-bottom: 0;
    }
    .row:nth-child(1) > &__item
    {
        margin-bottom: 50px;
    }
    .row:nth-child(2) > &__item
    {
        @media (max-width: 767px)
        {
            margin-bottom: 50px;
            &:last-child
            {
                margin-bottom: 0;
            }
        }
    }
}

.simple
{
    position: relative;

    overflow: hidden;

    //min-height: 534px;

    background: #efefef;

    @include vertical-bp;
    &__title
    {
        @include block-title;
    }
    &__btn
    {
        @include present-btn-unfixed;
    }
    &__road
    {
        @media (max-width:991px) {
            display: none;
        }
        position: relative;

        overflow: hidden;

        width: 100%;
        height: 300px;
        margin: auto;
        margin-bottom: 80px;
    }

    &__roadline
    {
        position: absolute;
        top: 98px;

        width: 100%;
        height: 8px;

        transition: width .70s linear;

        background: #fff;
        &--active
        {
            width: 0;

            background: $brand-color;
        }
    }
    &__car
    {
        position: absolute;

        display: block;

        width: 171px;
        height: 91px;
        margin-bottom: 20px;

        transition: left .70s linear;

        background: url(../img/car.gif) no-repeat;
        &--rotated
        {
            transform: scale(-1, 1);
        }
    }
    &__roadpoint
    {
        position: absolute;
        top: 93px;

        width: 20px;
        height: 20px;

        text-outline: 20px;

        border: 4px solid #fff;
        border-radius: 50%;
        background: #efefef;
        &--active
        {
            border-color: $brand-color !important;
        }
    }
    &__roadblock
    {
        float: left;

        width: 14.285%;
        margin-top: 130px;
        padding: 0 5px;

        text-align: center;

        opacity: .4;
        &--active
        {
            opacity: 1;
        }
    }
    &__blockname
    {
        font-size: 14px;

        margin: 0;
        margin-bottom: 25px;
        padding: 0;
    }
    
    &__mob {
        @media (min-width: 992px) {
            display: none;
        }
        
        margin-bottom: 80px;
        overflow: hidden;
    }

    &__car-mob {
        display: block;
        /* width: 124px;
        height: 78px; */
        width: 171px;
        height: 91px;
        margin: 0 auto 10px;
        background: url(../img/car.gif) no-repeat;
    }
    &__road-mob{
        margin-top: -14px;
    }
    &__roadblock-mob {
        position: relative;
        //margin-top: -6px;
        z-index: 5;
    }
    &__roadline-mob {
        height: 8px;
        background: #fff;
        //position: absolute;
        z-index: 1;
    }
    &__roadline-mob-inner {
        background: $brand-color;
        height: 8px;
        width: 50%;
    }
    &__roadpoint-mob
    {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto 20px auto;

        width: 20px;
        height: 20px;

        text-outline: 20px;

        border: 4px solid $brand-color;
        border-radius: 50%;
        background: #efefef;
    }
    &__blockname-mob
    {
        font-size: 14px;
        text-align: center;

        margin: 0;
        margin-top: 35px;
        margin-bottom: 10px;
        padding: 0;
    }
    &__blocktext-mob  {
        text-align: center;
    }
}

.brands
{
    position: relative;

    overflow: hidden;

    @include vertical-bp;
    &__img
    {
        opacity: .7;

        filter: grayscale(100%);
        &:hover,
        &:focus
        {
            opacity: 1;

            filter: grayscale(0%);
        }
    }
    &__title
    {
        @include block-title;
    }
    /* &__wrapper {
		overflow-x: scroll;
		overflow-y: hidden;
		height: 112px;
		position: relative;
		margin: 0 auto;
	}
	&__list {
		margin: 0;
		padding: 0;	
  		line-height: 0;
  		height: 112px;
  		overflow-y: hidden;
  		position: absolute;
  		transition: left 1s;
	}
	&__item {
		list-style-type: none;
		float: left;
	} */
    &__name
    {
        display: none;
    }
}

.catalogue
{
    position: relative;

    overflow: hidden;

    background: $brand-color;

    @include vertical-bp;
    &__title
    {
        @include block-title($color: #fff);
    }
    &__list
    {
        position: relative;

        overflow: hidden;

        margin: 0 0 100px + $present-btn-height;
        padding: 0;
    }
    &__item
    {
        list-style-type: none;

        @include make-xs-column(6);
        @include make-sm-column(6);
        @include make-md-column(3);
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4)
        {
            margin-bottom: 45px;
        }
        @media (max-width: 991px)
        {
            margin-bottom: 45px;
            &:nth-child(7),
            &:nth-child(8)
            {
                margin-bottom: 0;
            }
        }
    }
    &__link
    {
        position: relative;

        display: table;
        overflow: hidden;

        border-collapse: separate;
        @media (max-width: 767px)
        {
            display: block;

            height: 160px;
            @extends .clearfix;
        }
    }
    &__ubtn
    {
        position: relative;

        overflow: hidden;

        min-height: 45px;
    }
    &__img-wrap
    {
        position: relative;

        display: inline-block;
        overflow: hidden;

        width: 99px;
        height: 99px;
        padding: 11px 0;

        text-align: center;
        vertical-align: middle;
        //border: 2px solid #fff;

        border-radius: 50%;
        @media (max-width: 767px)
        {
            display: block;

            margin: 0 auto 22.5px;
        }
        // &:after {
        // 	content: "";
        // 	position: absolute;
        // 	top: 0;
        // 	bottom:0;
        // 	right: 0;
        // 	left: 0;
        // 	height: 10px;
        // 	width: 10px;
        // 	margin: auto;
        // 	border: 2px solid #fff;
        // 	border-radius: 50%;
        // 	transition: width .3s, height .3s;
        // 	.catalogue__img-wrap:hover::after, .catalogue__img-wrap:focus::after {
        // 		width: 91px;
        // 		height: 91px;
        // 	}
        // 	z-index: 1;
        // }
    }
    &__img-hover
    {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 10px;
        height: 10px;
        margin: auto;

        transition: width 1s, height 1s;

        border: 4px solid #fff;
        border-radius: 50%;
        .catalogue__img-wrap:hover > &,
        .catalogue__img-wrap:hover > &:focus
        {
            width: 99px;
            height: 99px;

            transition: width .3s, height .3s;
        }
    }
    &__img
    {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: auto;
        /* display: inline-block;
		vertical-align: middle;
		@media (max-width: 767px) {
			display: block;
			margin: 0 auto 22.5px;
		}  */
    }
    &__name
    {
        font-size: 16px;
        font-weight: normal;

        display: inline-block;

        max-width: 50%;
        margin: 0;
        margin-left: 15px;
        padding: 0;

        vertical-align: middle;

        color: #fff;
        @media (max-width: 767px)
        {
            display: block;

            max-width: inherit;
            margin: 0;

            text-align: center;
        }
    }
    &__btn
    {
        @include present-btn;
    }
}

.about
{
    position: relative;

    overflow: hidden;

    @include vertical-bp;
    &__title
    {
        @include block-title;
    }

    &__list
    {
        margin: 0 0 $vertical-bp 0;
        @media (max-width: 991px) {
            margin-bottom: $vertical-bp/2;
        }
        padding: 0;
    }
    &__item {
        list-style-type: none;
    }

    @media (max-width: 767px) {
        
        &__tabbuttons {
            display: none;
        }

        &__item {
            border-top: 1px solid #fff;
            &:first-child {
                border-top: none;
            }
        }
        &__subtitle
        {
            font-size: 14px;

            display: block;

            margin: 0;
            padding: 20px;
            background: #EFEFEF;
            color: #333;
            text-align: center;
            cursor: pointer;

        }
        
        &__text {
            padding: 15px;
            display: none;
        }
    }

    @media (min-width: 768px) {
        &__tabbuttons
        {
            margin: 0;
            margin-bottom: 40px;
            padding: 0;

            text-align: center;
            /* &:after {  @extend .clearfix; } */
        }
        &__tabitem
        {
            display: inline-block;

            margin-left: 50px;

            list-style-type: none;

            &--active
            {
                .about__tablink
                {
                    font-weight: bold;

                    color: $text-color;
                }
            }
            &:first-child
            {
                margin-left: 0;
            }
        }
        &__tablink
        {
            color: lighten($text-color, 30%);
            &:hover, &:focus
            {
                font-weight: bold;

                text-decoration: none;

                color: lighten($text-color, 30%);
            }
        }
        &__item
        {
            display: none;
            padding: 10px;
            &--active
            {
                display: block;
            }
        }
        &__subtitle
        {
            font-size: 14px;

            display: block;

            margin: 0;
            padding: 0;
        }

        &__text
        {
            font-size: 14px;

            margin-bottom: 0;
            padding: 0;
        }
    }

    &__btn
    {
        @include present-btn-unfixed(pink);
    }
}


.partners {
    margin-bottom: $vertical-bp;
    overflow: hidden;
    display: block;
    @media (max-width: 991px) {
        margin-bottom: $vertical-bp/2;
    }
    &__title {
        @include block-title;
    }
    &__col-full {
        margin-bottom: $vertical-bp;
        @include make-md-column(12);
    }
    &__col-inner {
        margin-bottom: 20px;
        @include make-md-column(6);
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__infographics {
        margin-bottom: $vertical-bp;
    }
    &__infographics-img {
        display: block;
        max-width: 100%;
    }
    &__col-half {
        @include make-md-column(6);
        position: relative;
        margin-bottom: $vertical-bp;
    }
    &__col-img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
        /* position: absolute;
        bottom: 0; */
    }
    &__subtitle {
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    &__list {
        padding: 0;
        margin: 0;
        text-align: justify;
        &:after {
            width: 100%;
            height: 0px;
            visibility: hidden;
            overflow: hidden;
            content: "";
            display: inline-block;
        }
    }
    &__item {
        list-style-type: none;
        display: inline-block;
        text-align: left;
        @media (max-width: 991px) {
            display: block;
            float: left;
        }
    }
    &__logo {
        filter: grayscale(100%);
        &:hover, &:focus {
            filter: grayscale(0);
        }
    }

    &__gallery {
        padding: 0;
        margin: 0;
    }
    &__gallery-item {
        list-style-type: none;
        float: left;
        width: 33.333%;
        padding: 10px;
        /* &:nth-child(3n+1) {
            padding-left: 0;
        } */
    }
    &__gallery-img {
        width: 100%;
    }

}
.simple-text {
    @include text();
}

.company
{
    overflow: hidden;

    background: #efefef;

    @include vertical-bp;
    &__link
    {
        display: block;

        margin-bottom: 30px;
    }
    &__name
    {
        display: none;
    }
    &__title
    {
        @include block-title;
    }
    &__col
    {
        &-1, &-2, &-3 {
            overflow: hidden;
            @media (max-width: 991px) {
                margin-bottom: $vertical-bp/2;
            }
        }
        &-1
        {
            @include make-xs-column(12);
            @include make-md-column(6);
        }
        &-2
        {
            @include make-xs-column(12);
            @include make-md-column(3);
        }
        &-3
        {
            @include make-md-column(12);
            @include make-md-column(3);
        }
    }
    &__about,
    &__newstitle,
    &__contactstitle
    {
        font-size: 14px;
        font-weight: bold;

        margin: 0 0 25px;
        padding: 0;

        text-transform: uppercase;
        overflow: hidden;

        @media (max-width: 991px) {
            margin-bottom: 5px;
        }
    }
    &__newslist
    {
        margin: 0;
        padding: 0;
    }
    &__newsitem
    {
        list-style-type: none;
    }
    &__newslink
    {
        color: $text-color;
        &:hover,
        &:focus
        {
            text-decoration: none;

            color: lighten($text-color, 30%);
        }
    }
    &__newstexst,
    &__newsdate
    {
        display: block;
    }
    &__contactstext {
        overflow: hidden;
    }
}


#imagelightbox {
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;


    cursor: pointer;
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );
}
#imagelightbox-overlay {
    background-color: rgba( 255, 255, 255, .9 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.copiright
{
    overflow: hidden;

    @include vertical-bp;
    &__studio
    {
        @extend .pull-left;
    }
    &__metonem
    {
        @extend .pull-right;
    }
}

.footer
{
    &:before
    {
        display: block;

        height: 4px;

        content: '';

        background: $brand-color;

        @extend .container;
    }
}
